---
import MainLayout from '../../layout/MainLayout.astro';
import SesionLayout from '../../layout/SesionLayout.astro';
---

<MainLayout>
	<SesionLayout backgroundColor={"#f0f0f0"}>
		<h1>Soy Ubicación</h1>
	</SesionLayout>
</MainLayout>