<div class="flex justify-center items-center flex-col md:flex-row w-full gap-8">
    <!-- Primera Card -->
    <div class="flex justify-center items-center w-full md:w-1/2">
      <div class="p-6 w-full">
        <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
          <div class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300">
            <div class="relative w-full h-80 rounded-lg overflow-hidden bg-muted-200 dark:bg-muted-800">
              <img
                class="absolute inset-0 w-full h-full object-cover"
                src="https://www.carloscondepeluqueros.com/wp-content/uploads/2019/01/cabecera-barbero-profesional.jpg"
                alt="Doctor"
              />
            </div>
            <div class="font-sans mt-3 px-3">
              <h4 class="font-semibold text-muted-800 dark:text-muted-100 ">
                Luis Herrera
              </h4>
              <p class="text-sm text-muted-400">Barbero</p>
            </div>
            <div class="mt-2 px-3">
              <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi intellegunt quid
              </p>
            </div>
            <div class="mt-2 px-3">

            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Segunda Card -->
    <div class="flex justify-center items-center w-full md:w-1/2">
      <div class="p-6 w-full">
        <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
          <div class="relative rounded-lg border border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 transition-all duration-300">
            <div class="relative w-full h-80 rounded-lg overflow-hidden bg-muted-200 dark:bg-muted-800">
              <img
                class="absolute inset-0 w-full h-full object-cover"
                src="https://www.carloscondepeluqueros.com/wp-content/uploads/2019/01/cabecera-barbero-profesional.jpg"
                alt="Doctor"
              />
            </div>
            <div class="font-sans mt-3 px-3">
              <h4 class="font-semibold text-muted-800 dark:text-muted-100 ">
                Luis Herrera
              </h4>
              <p class="text-sm text-muted-400">Barbero</p>
            </div>
            <div class="mt-2 px-3">
              <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi intellegunt quid
              </p>
            </div>
            <div class="mt-2 px-3">
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  