---
import img1 from '../../../assets/galery/1.jpg';
import img2 from '../../../assets/galery/2.jpg';
import img3 from '../../../assets/galery/3.jpg';
import img4 from '../../../assets/galery/4.jpg';
import img5 from '../../../assets/galery/5.jpg';
import img6 from '../../../assets/galery/6.jpg';
import img7 from '../../../assets/galery/7.jpg';
import img8 from '../../../assets/galery/8.jpg';
import img9 from '../../../assets/galery/9.jpg';
import img10 from '../../../assets/galery/10.jpg';
import img11 from '../../../assets/galery/11.jpg';
import img12 from '../../../assets/galery/12.jpg';
import img13 from '../../../assets/galery/13.jpg';
import img14 from '../../../assets/galery/14.jpg';
import img15 from '../../../assets/galery/15.jpg';
import img16 from '../../../assets/galery/16.jpg';
import img17 from '../../../assets/galery/17.jpg';
import img18 from '../../../assets/galery/18.jpg';
import img19 from '../../../assets/galery/19.jpg';
import img20 from '../../../assets/galery/20.jpg';

const images = [img1, img2, img3, img4, img5, img6, img7, img8, 
img9, img10, img11, img12, img13, img14, img15, img16, img17, img18, img19, img20];

import Imagenes from '../../../components/ui/CustomImagen.astro';
---

<div class="text-center w-full flex flex-col items-center justify-center">
  <h3 class="text-3xl text-center w-full underline decoration-gray-500/80 hover:no-underline text-foreground font-bold col-span-3 xl:col-span-1 mx-4">
    Publicaciones 
  </h3> 
</div>  
<br>
<div id="main" class="w-full flex flex-row flex-wrap justify-center">
  {
    images.map((img, index) => {
      return (
        <article class="thumb max-w-sm">
          <Imagenes 
            alt={`Galería de fotos - imagen ${index}`}
            src={img} 
            width={400} 
          height={400} 
          loading="lazy"
          />
        </article>
      );
    })
  }
</div>
