---
import CarruselCards from "../../../components/interactivos/carruselCards";
const itemsCards = [
  {
    title: "Corte de cabello",
    description: "Renueva tu estilo con un desvanecido que llame la atención.",
    image: "./carruselCards/img1.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "¿Listo para un cambio? Un corte desvanecido te espera para destacar.",
    image: "./carruselCards/img2.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Haz que tu look resalte con un desvanecido impecable. ¡Agenda ya!",
    image: "./carruselCards/img3.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "El corte perfecto te espera. Un desvanecido que no pasa desapercibido.",
    image: "./carruselCards/img4.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Sé el centro de atención con un desvanecido que hará voltear miradas.",
    image: "./carruselCards/img5.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Un corte desvanecido que te hará sentir fresco y moderno. ¡No lo pienses más!",
    image: "./carruselCards/img6.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Luce impecable con un desvanecido diseñado para impactar.",
    image: "./carruselCards/img7.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Deja que tu look hable por ti. Un desvanecido es el toque final perfecto.",
    image: "./carruselCards/img8.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Dale a tu cabello el estilo que merece con un desvanecido de primera.",
    image: "./carruselCards/img9.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
{
    title: "Corte de cabello",
    description: "Haz que cada detalle cuente con un desvanecido que impresione a todos.",
    image: "./carruselCards/img10.jpg",
    href: "/7-Citas",
    textButton: "Solicitar cita"
},
];
---
<style>

.barber-stripes {
  width: 100%;
  height: 5vh;
  background: repeating-linear-gradient(
    45deg, 
    blue 0, 
    blue 20px, 
    white 20px, 
    white 40px, 
    red 40px, 
    red 60px, 
    white 60px, 
    white 80px
  );
  background-size: 200% 200%;
  animation: moveStripes 50s linear infinite;
}

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

</style> 

<div>
    <div>
  <CarruselCards client:idle params={{ 
    timeSlider: 5000,
    visibleItemsDefault: 3,
    title: "Cortes en tendencia",
    colorTitle: "text-gray-800",
    colorButtonPrevNext: "gray",
    sizeButtosPrevNext: "30",
    backgroundColorCard: "bg-customColor6",
    borderRadiusCard: "rounded-lg",
    shadowCard: "shadow-lg",
    shadowCardHover:"hover:shadow-2xl", // Iniciar con hover:
    shadowCardColor: "shadow-customColor5",
    shadowCardColorHover: "hover:shadow-customColor5", // Iniciar con hover:
    colorTitleCard: "text-gray-800",
    sizeTitleCard: "text-lg",
    colorDescriptionCard: "text-gray-600",
    sizeDescriptionCard: "text-sm",
    colorButtonCard: "bg-customColor8",
    colorButtonCardHover: "hover:bg-customColor5", // Iniciar con hover:
    colorButtonCardText: "text-white",
    colorButtonCardTextHover: "hover:text-gray-800", // Iniciar con hover:
    borderRadiusCardButton: "rounded",
    colorIcon: "currentColor", 
    sizeIcon:"16", 
    classNameIcon: "bi bi-scissors animate-bounce", 
    viewBoxIcon: "0 0 16 16",  
    pathIcon: "M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0m7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0",
    itemsCardsProps: itemsCards

    }} />
</div>

<div class="barber-stripes" style={{opacity: 0.4
}}></div>
</div>

