---

---
<div class="text-center w-full flex flex-col items-center justify-center">
    <h3 class="text-3xl text-center w-full underline decoration-gray-500/80 hover:no-underline text-foreground font-bold col-span-3 xl:col-span-1 mx-4">
      Servicios
    </h3> 
  </div>  
  <br>
<div class="w-full flex justify-center content-center mb-10">
    <div class="max-w-sm">
    <video autoplay loop muted playsinline style="width: 100%; height: auto;">
        <source src="./videoServicios/videoservicios1.webm" type="video/webm">
        <source src="./videoServicios/videoservicios1.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
    </video>
</div>
</div>