---
import SocialLink from '../../../components/ui/SocialLink.astro';
const socialLinks = [
        {
            text: 'Go to GitHub repo',
            href: 'https://github.com/JustGoodUI/ovidius-astro-theme',
            icon: 'facebook'
        },
        {
            text: 'Follow on Instagram',
            href: 'https://instagram.com/',
            icon: 'instagram'
        },
        {
            text: 'Follow on X',
            href: 'https://twitter.com/justgoodui',
            icon: 'x-twitter'
        },
        {
            text: 'Follow on Instagram',
            href: 'https://instagram.com/',
            icon: 'tiktok'
        }
        
    ]
---

<style>
  
</style>

<div>
  <section class="px-4 py-12 relative sm:px-8 sm:py-16">
    <div class="w-full max-w-3xl mx-auto flex flex-col items-center text-center">
        { (
            <div class="p-4">
                <img
                    src={"./logo.png"}
                    alt={"Logotipo de la empresa"}
                    class="w-32 aspect-square object-cover rounded-full border-2 border-customColor4 shadow-2xl"
                />
            </div>
        )}
        <div  class="bg-black p-4 md:px-10 md:py-10 mt-5 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center shadow-2xl">
         { <h1 class:list={['text-4xl font-bold text-customColor6 sm:text-5xl']}>Class Barber</h1>}
        {(
            <p class:list={['text-customColor5 sm:text-lg mt-4']}>
              "No es solo una barbería, es una experiencia exclusiva para el caballero moderno 
              que busca calidad y estilo en un ambiente elegante. Ofrecemos servicios de cortes de cabello, 
              cejas, barba y más, brindamos una atención personalizada que asegura cada detalle. 
              Ven y vive un servicio clásico diseñado para ti."</p>
        )}
        {socialLinks.length > 0 && (
            <div class:list={['flex flex-wrap gap-x-4 gap-y-3 justify-center mt-4 ']}>
                {(socialLinks || []).map((link) => (
                    <SocialLink {...link} class="bg-customColor6 text-slate-700 hover:bg-primary hover:text-customColor4 hover:shadow-button" />
                ))}
            </div>
        )} 
        </div>
    </div>
</section>
</div>
