---
import SocialLink from '../../../components/ui/SocialLink.astro';
import {
    urlImagenIntro,
    imgProperties,
    titleIntro,
    textIntro,
    socialLinks,
    colorTitleIntro,
    colorTextIntro,
    colorSocialIconBg,
    colorSocialIconText,
    colorSocialIconHoverBg,
    colorSocialIconHoverText,
    cardProperties
} from '../../../config/0-Cliente-Configuracion/1-intros-config/2-intros-intro2-config.jsx';
---

<div>
  <section class="px-4 py-12 relative sm:px-8 sm:py-16">
    <div class="w-full max-w-3xl mx-auto flex flex-col items-center text-center">
        { (
            <div class="p-4">
                <img
                    src={urlImagenIntro}
                    alt={"Logotipo de la empresa o imagen representativa"}
                    class={imgProperties}
                />
            </div>
        )}
        <div class={cardProperties ? cardProperties : ''}>
         <h1 class={`${colorTitleIntro ? colorTitleIntro : ''} font-bold`}>{titleIntro ? titleIntro : ''}</h1>
         <p class={`${colorTextIntro ? colorTextIntro : ''} mt-4`}>{textIntro ? textIntro : ''}</p>

         {socialLinks.length > 0 && (
            <div class="flex flex-wrap gap-x-4 gap-y-3 justify-center mt-4">
                {(socialLinks || []).map((link) => (
                    <SocialLink
                      {...link}
                      class={`${colorSocialIconBg ? colorSocialIconBg : ''} 
                      ${colorSocialIconText ? colorSocialIconText : ''} 
                      ${colorSocialIconHoverBg ? colorSocialIconHoverBg : ''} 
                      ${colorSocialIconHoverText ? colorSocialIconHoverText : ''} shadow-button`}
                    />
                ))}
            </div>
         )}
        </div>
    </div>
  </section>
</div>
